@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* iOS 사파리에서 date input 등 폼 요소 외형 보정 */
input,
textarea,
button {
  font-family: inherit;
}
